@charset "utf-8";
@import 'sidebar';
@import 'var';
/* CSS Document */
/*reset*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin:0px;
    padding:0px;}
#all-wrap{
  width:100%;
    max-width:960px;
    margin:auto;
    padding:20px 0;
    position:relative;
}
.wrapper {
  margin: 0 auto;
  max-width: 1300px;
}

.loading{
  margin: 5em;
}

#results h1{
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
}
#results h2{
  font-size: 14px;
  line-height: 1.5;
  margin: 0.5em 0;
}

#results article{
    padding: 0.5em 0;
  @media only screen and (max-width: 760px){
    &:before{
      display:block !important;
    }
    div.col-xs-1{
      img{
        display:inline-block;
      }
    }
    header{
      width:80% !important;
      h1{
        width:50%;
      }
      h2{
        width:50%;
      }
    }
  }
}

#results article:nth-child(2n){
  background: #eee;
}

#results .contact{
  margin-top: 0.5em;
}
#results .contact:first-child{
  margin-top: 0em;
}
#results .contact h3{
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#topbar {
  background: #3a3939;
  text-align: center;
  .topbar-content{
    padding: 24px 0;
  }
}
#topbar .logo {
  font-size: 30px;
  @media only screen and (max-width: 760px){
    font-size: 25px;
  }
  line-height: 1;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFF;
}
#topbar .logo:hover {
  color: #878585;
}

/* main */

#main {

  #text-instruction {
    display: inline;
  }

  #img-instruction {
    display: none;
  }

  

  @media only screen and (min-width: 760px){
    padding-left: 22em;
    margin-top: 24px;
    #text-instruction {
      display: none;
    }

    #img-instruction {
      display: inline;
    }
  }
  // width: 51em;
}




/*main .head {
  font-size: 50px;
}
main .head:before {
  background-image: url(/images/logo/logo.png);
  content: " ";
  width: 31.799999999999997px;
  height: 37.199999999999996px;
  background-size: 31.799999999999997px 37.199999999999996px;
  position: absolute;
  margin-left: -37px;
  margin-top: 13px;
}
main .content {
  margin-bottom: 70px;
}
main .content .title {
  padding-left: 17px;
  margin-left: -30px;
  font-size: 40px;
  margin-bottom: 15px;
}
main .content .title:target {
  margin-top: 50px;
  border-left: 5px red solid;
}
main .content .intro {
  font-size: 20px;
  line-height: 1.5em;
}
main .md {
  margin-left: 10px;
}
main .md h2 {
  margin-left: -20px;
}
main .md p {
  font-size: 17px;
}

*/



/* footer */
#footer {
  margin-top: 36px;
  padding: 36px 0;
  clear: both;
  position: relative;
  background-color: #3a3939;
  color: #c7c7c7;
  // height: 100px;
  overflow: hidden;
}
#footer .container {
  padding: 0 16px;
  max-width: 760px;
}

#footer a {
  color: yellow;
}

#footer .copyright {
  font-size:13px;
  line-height:1.4em;
  margin: 0;
  text-align: center;
}
#footer .copyright img {
  // line-height: 100px;
  display: block;
  margin: 0 auto 12px;
}
#footer .copyright span {
  vertical-align: middle;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 12px;
  display: inline-block;
}
#footer .footer-logo {
  margin-bottom: 12px;
}
#footer .g0v {
  display: block;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-image: url('/images/g0v.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 173px;
  height: 32px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  #footer .copyright {
    text-align: left;
  }
  #footer .copyright img {
  line-height: 32px;
  margin-bottom: 0;
  display: inline-block;
}
  #footer .copyright span {
    margin-left: 20px;
  }
  #footer .footer-logo {
    margin-bottom: 0;
    float: right;
  }
}
